[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "mINI"]
	path = mINI
	url = https://github.com/pulzed/mINI
[submodule "CRCpp"]
	path = CRCpp
	url = https://github.com/d-bahr/CRCpp
