[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "mINI"]
	path = mINI
	url = https://github.com/pulzed/mINI
[submodule "djhtools"]
	path = djhtools
	url = https://github.com/shockdude/djhtools
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz
